@CHARSET "UTF-8";
body{
    background-color: #060;
}

#outer{
    width: 700px;
    height: 400px;
    background-color: #222;
    border: 4px solid #fff;
    border-radius: 40px;
    position: relative;
}

#inner{
    width: 500px;
    height: 200px;
    background-color: #060;
    border: 4px solid #fff;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#finishLine{
@CHARSET "UTF-8";
body{
    background-color: #060;
}

#outer{
    width: 700px;
    height: 400px;
    background-color: #222;
    border: 4px solid #fff;
    border-radius: 40px;
    position: relative;
}

#inner{
    width: 500px;
    height: 200px;
    background-color: #060;
    border: 4px solid #fff;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#finishLine{
@CHARSET "UTF-8";
body{
    background-color: #060;
}

#outer{
    width: 700px;
    height: 400px;
    background-color: #222;
    border: 4px solid #fff;
    border-radius: 40px;
    position: relative;
}

#inner{
    width: 500px;
    height: 200px;
    background-color: #060;
    border: 4px solid #fff;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#finishLine{
